{% extends "auth_base.html" %}

{% block title %} Log In {% endblock %}

{% block content %}

{{ super() }}

<div class="center">
    <img src="../../static/image/logo.png" alt="" width="310" height="310">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="txt_field">
            {{ form.fullname(placeholder="Fullname") }}
        </div>
        <div class="txt_field">
            {{ form.username(placeholder="Username") }}
        </div>
        <div class="txt_field">
            {{ form.email(placeholder="Email") }}
        </div>
        <div class="txt_field">
            {{ form.password(placeholder="Password") }}
        </div>
        <div class="txt_field">
            {{ form.password2(placeholder="Confirm Password") }}
        </div>
            {{ form.submit()}}
    </form>
</div>

{% endblock %}