{% extends "base.html" %}

{% block title %} Dispatches {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}
    {{ super() }}
    
    <table>
        <thead>
            <th>Dispatch ID</th>
            <th>Dispatch Date</th>
            <th>Route ID</th>
            <th>Route Name</th>
            <th>Sales Agent Name</th>
            <th>Sales Agent Number</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ dispatch.dispatch_id }}</td>
                <td>{{ moment(dispatch.dispatch_date).format('L') }}</td>
                <td>{{ dispatch.route_id }}</td>
                <td>{{ dispatch.dispatch_route.route_name }}</td>
                <td>{{ dispatch.dispatch_route.sales_assoc.name }}</td>
                <td>{{ dispatch.dispatch_route.sales_assoc.phone_no }}</td>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Returns</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detail in dispatch.dispatch_details %}
                            <tr>
                                <td>{{ detail.product.name }}</td>
                                <td>{{ detail.quantity }}</td>
                                <td>{{ detail.returns }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="{{ url_for('sales.update_dispatch', id=dispatch.dispatch_id)}}">Update</a>
        <a href="{{ url_for('sales.delete_dispatch', id=dispatch.dispatch_id)}}">Delete</a>
    </div>

    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}

    {% block scripts %} {{ super() }} {% endblock %}