{% extends "base.html" %}

{% block title %} Dispatches {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}
    {{ super() }}
    
    <table>
        <thead>
            <th>Dispatch ID</th>
            <th>Dispatch Date</th>
            <th>Route ID</th>
            <th>Route Name</th>
            <th>Sales Agent Name</th>
            <th>Sales Agent Number</th>
        </thead>
        <tbody>
            {% for dispatch in dispatches %}
            <tr>
                <td>{{ dispatch.dispatch_id }}</td>
                <td>{{ moment(dispatch.dispatch_date).format('L') }}</td>
                <td>{{ dispatch.route_id }}</td>
                <td>{{ dispatch.route_name }}</td>
                <td>{{ dispatch.name }}</td>
                <td>{{ dispatch.phone_no }}</td>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Returns</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detail in dispatch.dispatch_details %}
                            <tr>
                                <td>{{ detail.product.name }}</td>
                                <td>{{ detail.quantity }}</td>
                                <td>{{ detail.returns }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}

    {% block scripts %} {{ super() }} {% endblock %}