{% extends "base.html" %}

{% block title %} {{ product.name }} {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}
{{ super() }}

<label for="">Product Name: </label> <span>{{ product.name }} </span>
<br>
<label for="">Product Price: </label> <span>{{ product.price }} </span>
<br>
<label for="">Product Description: </label> <span>{{ product.description }} </span>
<br>
<label for="">Created at: </label> <span> {{ moment(product.created_at).format('L') }} </span>
<br>

<h2>Production Runs</h2>
<table>
    <tr>
        <th>Date</th>
        <th>Flour Kneaded</th>
        <th>Oil Used</th>
        <th>Quantity</th>
    </tr>
    {% for production_run in production_runs %}
    <tr>
        <td>{{ moment(production_run.created_at).format('L') }}</td>
        <td>{{ production_run.flour_kneaded }}</td>
        <td>{{ production_run.oil_used }}</td>
        <td>{{ production_run.quantity }}</td>
    </tr>
    {% endfor %}
</table>


{% if current_user.can(Permission.MANAGE_PRODUCTS) %}
<h3><a href="{{ url_for('production.update_product', id=product.id)}}">Update</a></h3>
<h3><a href="{{ url_for('production.delete_product', id=product.id)}}">Delete</a></h3>
{% endif %}


{% endblock %}

{% block footer %} {{ super() }} {% endblock %}

{% block scripts %} {{ super() }} {% endblock %}