{% extends "base.html" %}

{% block title %} Products{% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}
{{ super() }}

    <table>
        <thead>
            <th>Product</th>
            <th>Price</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><a href="{{ url_for('production.view_product', id=product.id) }}">{{ product.name }}</a></td>
                <td><a href="{{ url_for('production.view_product', id=product.id) }}">{{ product.price }}</a></td>
                <td>{{ moment(product.created_at).format('L') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}

    {% block scripts %} {{ super() }} {% endblock %}