{% extends "base.html" %}

{% block title %} Ingredients {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}
{{ super() }}

    <table>
        <thead>
            <th>Ingredient</th>
            <th>Measurement</th>
            <th>Date Added</th>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <td><a href="{{ url_for("production.view_ingredient", id=ingredient.id )}}">{{ ingredient.name }}</a></td>
                <td>{{ ingredient.unit_of_measurement }}</td>
                <td>{{ moment(ingredient.created_at).format('L') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}

    {% block scripts %} {{ super() }} {% endblock %}