{% extends "base.html" %}

{% block title %} {{ supplier.name }} {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}
    {{ super() }}
    
    <table>
        <thead>
            <th>Name</th>
            <th>Phone No</th>
            <th>Email</th>
            <th>Date Added</th>
        </thead>
        <tbody>
            <tr>
                <td><a href="{{ url_for('production.view_supplier', id=supplier.id)}}">{{ supplier.name }}</a></td>
                <td>{{ supplier.phone_no }}</td>
                <td>{{ supplier.email }}</td>
                <td>{{ moment(supplier.created_at).format('L') }}</td>
            </tr>
            <thead>
                <th>Ingredient Name</th>
                <th>Unit Cost</th>
            </thead>
            {% for ingredient, unit_cost in supplier_ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ unit_cost }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><a href="{{ url_for('production.update_supplier', id=supplier.id)}}">Update</a></td>
                <td><a href="{{ url_for('production.delete_supplier', id=supplier.id)}}">Delete</a></td>
            </tr>
        </tbody>
    </table>

    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}

    {% block scripts %} {{ super() }} {% endblock %}