{% extends "base.html" %}

{% block title %} {{ recipe.name }} {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}
    {{ super() }}
    
    <table>
        <thead>
            <th>Recipe Name</th>
            <th>Description</th>
            <th>Yield Amount</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.yield_amount }}</td>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Ingredient Name</th>
                                <th>Quantity</th>
                                <th>Measurement</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detail in recipe.recipe_ingredients %}
                            <tr>
                                <td>{{ detail.recipe_ingredients.recipe.name }}</td>
                                <td>{{ detail.quantity }}</td>
                                <td>{{ detail.unit_of_measurement }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="{{ url_for('production.update_recipe', recipe_id=recipe.id)}}">Update</a>
        <a href="{{ url_for('production.delete_recipe', recipe_id=recipe.id)}}">Delete</a>
    </div>

    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}

    {% block scripts %} {{ super() }} {% endblock %}