:root {
    --background-orange-color: #a8610f;
    --backgroud-lighter-orange-color: #e2820c;
    --text-color: #ffffff;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    align-items: center;
}

.company-logo-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.company-logo-div .company-logo {
    width: 90%;
    height: 200px;
    object-fit: contain;
}

.form-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.form-group {
    width: 100%;
    margin: 12px;
}

.form-group input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px 12px;
    width: 100%;
    border: none;
}

.form-group .submit {
    background-color: var(--backgroud-lighter-orange-color);
}

.important-links {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.important-links .new-user__div {
    margin-top: 22px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--backgroud-lighter-orange-color);
}

.important-links .new-user__div .signup-link {
    padding: 10px 12px;
}

.important-links a {
    text-decoration: none;
    color: white;
}

.submit {
    color: white;
    cursor: pointer;
}