:root {
    --background-orange-color: #a8610f;
    --backgroud-lighter-orange-color: #e2820c;
    --text-color: #ffffff;
    --content-background-color: #D9D9D9;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--content-background-color);
    color: var(--text-color);
    padding-top: 50px;
    padding-left: 220px;
}

.settings-side-form__items--details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;

    background-color: var(--background-orange-color);
}

.settings-side-form__items--details .logo-container {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 0.8rem;
}

.settings-side-form__items--details a:link,
.settings-side-form__items--details a:visited,
.settings-side-form__items--details a:active{
    color: white;
    text-decoration: none;
}

.settings-side-form__items--details .logo-container img {
    width: 70px;
    height: 70px;
    object-fit: cover;

    margin-right: -10px;
}

.settings-side-form__items--details .logo-container .logo-name {
    width: 170px;
    font-size: 22px;
    text-wrap: wrap;
    text-align: center;
}

.settings-side-form__items--details .search-bar_container  {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-width: 423px;
}

.settings-side-form__items--details .search-bar_container .search-bar {
    display: flex;
    flex: 1;
    padding: 8px 15px;
    border-radius: 26px;
    border: none;
    font-size: 1rem;
}

.settings-side-form__items--details .important-links {
    display: flex;
    align-items: center;
}

.settings-side-form__items--details .notifications {
    margin: 0px 16px;
}

.settings-side-form__items--details .my-account {
    margin-left: 30px;
    margin-right: 10px;
    position: relative;
}

.settings-side-form__items--details .my-account .profile {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.flashed-messages__section--pop-up {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flashed-messages__div--error,
.flashed-messages__div--success {
    padding: 5px 12px;
    height: 40px;
    width: 100%;
    margin-bottom: 12px;

    text-align: center;
}

.flashed-messages__section--pop-up .flashed-messages__div--error {
    background-color: #e49bb2;
}

.flashed-messages__section--pop-up .flashed-messages__div--success {
    background-color: #5da472;
}

.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
    background-color: var(--backgroud-lighter-orange-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--backgroud-lighter-orange-color);
    z-index: 100;

    width: 200px;
    left: -70px;
}

.dropdown-content a:link,
.dropdown-content a:visited,
.dropdown-content a:active{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
}

.my-account:hover .dropdown-content {
    display: block;
}

.production-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.sales-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.main-navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;

    position: fixed;
    bottom: 0;
    top: 75px;
    left: 0;
    width: 200px;
    
    background-color: var(--backgroud-lighter-orange-color);
}

.main-navigation-bar .main-navigation-bar--link a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
    font-size: 1rem;
}

.main-navigation-bar .main-navigation-bar--link a:link,
.main-navigation-bar .main-navigation-bar--link a:active,
.main-navigation-bar .main-navigation-bar--link a:visited {
    color: white;
}

.main-navigation-bar .main-navigation-bar--link a img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}