:root {
    --background-orange-color: #a8610f;
    --backgroud-lighter-orange-color: #e2820c;
    --text-color: #ffffff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-orange-color);
    color: var(--text-color);
}

.settings-side-form__items--details {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--backgroud-lighter-orange-color);
    color: var(--text-color);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 160px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--backgroud-lighter-orange-color);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.settings-side-form__items--details:hover .dropdown-content {
    display: block;
}

.production-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.sales-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.main-navigation-bar__nav--details {
    background-color: var(--backgroud-lighter-orange-color);
}

.main-navigation-bar--details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.main-navigation-bar--details div a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.main-navigation-bar--details div a img {
    margin-bottom: 12px;
    width: 32px;
    height: 32px;
}