body{
    max-width: 410px;
    width: 100%;
}

.production-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.production-nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    /* overflow: scroll; */
    word-wrap: break-word;
}

.production-nav ul li{
    margin: 8px;
    padding: 8px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 50%;
}