body{
    max-width: 410px;
    width: 100%;
}

.production-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.production-nav ul {
    margin-left: 12px;
    overflow: scroll;
    word-wrap: break-word;
}

.production-nav ul li{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 50%;
}