:root {
    --header-color: #e2820c;
    --alternating-color: rgb(189, 189, 233);
    --hover-color: rgb(243, 214, 160);
}

table {
    width: 100%;
}

table th {
    width: 200px;
    height: 60px;
    padding-left: 12px;
    text-align: left;
    background-color: var(--header-color);
}

table td {
    padding: 8px 12px;
    border-bottom: 1px solid black;
    color: black;
}

table tbody tr:nth-child(even) {
    background-color: var(--alternating-color);
}

table tbody tr:hover {
    background-color: var(--hover-color);
}

table tbody td a {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    text-decoration: none;
}

table tbody td a:link,
table tbody td a:visited,
table tbody td a:hover,
table tbody td a:active {
    text-decoration: none;
    color: black;
}