{% extends "base.html" %}

{% block title %} Add Supplier Ingredient {% endblock %}

{% block content %}
{{ super() }}

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.supplier.label }} {{ form.supplier()}}
    </div>
    <br>
    <div>
        <table>
            <thead>
                <th>{{ form.ingredients.label }}</th>
            </thead>
            <tbody>
                {% for ingredient in form.ingredients %}
                <tr>
                    <td>{{ ingredient() }} {{ ingredient.label }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        {{ form.submit() }}
</form>

{% endblock %}