{% extends "base_template.html" %}

{% block title %} Production {% endblock %}

{% block styles %}
    {{super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/production.css')}}">
{% endblock%}

{% block header %} {{ super() }}

{% endblock %}

{% block content %}

{{ super() }}

<h1>Production Page</h1>

<nav class="production-nav">
    <ul>
      <li>
        <a href="{{ url_for('production.create_product')}}">
          <div class="name" data-text="Products">Products</div>
        </a>
      </li>
      <li>
        <a href="{{ url_for('production.create_ingredient')}}">
          <div class="name" data-text="Ingredients">Ingredients</div>
        </a>
      </li>
      <li>
        <a href="{{ url_for('production.add_supplier')}}">
          <div class="name" data-text="View_Products">Supplier</div>
        </a>
      </li>
      <li>
        <a href="{{ url_for('production.add_inventory')}}">
          <div class="name" data-text="Inventory">Inventory</div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="name" data-text="Reports">Reports</div>
        </a>
      </li>
      <li>
        <a href="{{ url_for('production.add_production_run')}}">
          <div class="name" data-text="Production_Run">Prod Run</div>
        </a>
      </li>
    </ul>
  </nav>

  <br> <hr size="2" style="opacity: 0.2;"/>

  <table border="2">
    <thead>
      <th>ID</th>
      <th>CODE</th>
      <th>NAME</th>
      <th>PRICE</th>
      <th>DESCRIPTION</th>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr size="2" style="opacity: 0.2;"/>

{% endblock %}

{% block footer %} {{ super() }} {% endblock %}