{% extends "base.html" %}

{% block title %} Production Runs {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <table>
        <thead>
            <th>Product</th>
            <th>Flour Kneaded</th>
            <th>Oil Used</th>
            <th>Packets</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for productionrun, product_name in productionruns %}
            <tr>
                <td>{{ product_name }}</td>
                <td>{{ productionrun.flour_kneaded}}</td>
                <td>{{ productionrun.oil_used }}</td>
                <td>{{ productionrun.quantity }}</td>
                <td>{{ moment(productionrun.created_at).format('L') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if pagination.total > pagination.per_page %}
        {% if pagination.has_prev %}
            <a href="{{ url_for('production.view_productionruns', page=pagination.prev_num) }}">Previous</a>
        {% endif %}
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page == pagination.page %}
                    <span> {{ page }}</span>
                {% else %}
                <a href="{{ url_for('production.view_productionruns', page=page) }}"> {{ page }}</a>
                {% endif %}
            {% else %}
            <span>...</span>
            {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
            <a href="{{ url_for('production.view_productionruns', page=pagination.next_num) }}">Next</a>
        {% endif %}
    {% endif %}

    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}

    {% block scripts %} {{ super() }} {% endblock %}