{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %} Production Runs {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <table>
        <thead>
            <th>Product</th>
            <th>Flour Kneaded</th>
            <th>Oil Used</th>
            <th>Packets</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for productionrun, product_name in productionruns %}
            <tr>
                <td>{{ product_name }}</td>
                <td>{{ productionrun.flour_kneaded}}</td>
                <td>{{ productionrun.oil_used }}</td>
                <td>{{ productionrun.quantity }}</td>
                <td>{{ moment(productionrun.created_at).format('L') }}</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('production.edit_productionrun', id=productionrun.id)}}">Edit</a></td>
                <td><a href="{{ url_for('production.delete_productionrun', id=productionrun.id)}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if pagination %}
        {{ macros.pagination_widget(pagination, "production.view_productionruns", fragment='')}}
    {% endif %}

    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}

    {% block scripts %} {{ super() }} {% endblock %}