{% extends "base.html" %}

{% block title %} Ingredients {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <table>
        <thead>
            <th>Ingredient</th>
            <th>Unit of Measurement</th>
            <th>Date Added</th>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.unit_of_measurement }}</td>
                <td>{{ moment(ingredient.created_at).format('L') }}</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('production.edit_ingredient', id=ingredient.id)}}">Edit</a></td>
                <td><a href="{{ url_for('production.delete_ingredient', id=ingredient.id)}}">Delete</a></td>
            </tr>
                
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}

    {% block scripts %} {{ super() }} {% endblock %}