{% extends "base.html" %}

{% block title %} Products{% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <table>
        <thead>
            <th>Product</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description}}</td>
                <td>{{ moment(product.created_at).format('L') }}</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('production.edit_product', id=product.id)}}">Edit</a></td>
                <td><a href="{{ url_for('production.delete_product', id=product.id)}}">Delete</a></td>
            </tr>
                
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}

    {% block scripts %} {{ super() }} {% endblock %}