{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.css"
      integrity="sha512-+ouAqATs1y4kpPMCHfKHVJwf308zo+tC9dlEYK9rKe7kiP35NiP+Oi35rCFnc16zdvk9aBkDUtEO3tIPl0xN5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        {% block header %}
        <nav class="header-nav">
          <ul class="header-nav-items">
            <li>
              <a href="{{ url_for('auth.logout')}}"
                ><span class="initials">EM</span></a
              >
            </li>
            <li><h2 class="logo">KWA MKAMBA BAKERY</h2></li>
            <li>
              <a href="#"
                ><img
                  src="../static/image/notification.png"
                  alt=""
                  width="35"
                  height="35"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img
                  src="../static/image/pie-chart .png"
                  alt=""
                  width="35"
                  height="35"
              /></a>
            </li>
          </ul>
        </nav>
        {% endblock %}
      </div>
    </header>

    <main>
      <div id="page-container">
        <div id="content-wrap">
          {% block content %} {% for messages in get_flashed_messages() %}
          <p>{{ messages }}</p>
          {% endfor %} {% endblock %}
        </div>
      </div>
    </main>

    <footer>
      <div class="footer-container">
        {% block footer %}
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="{{ url_for('main.index')}}">
                <div class="icon">
                  <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="name" data-text="Home">Home</div>
              </a>
            </li>
            <li>
              <a href="{{ url_for('production.production')}}">
                <div class="icon">
                  <i class="fa fa-industry" aria-hidden="true"></i>
                </div>
                <div class="name" data-text="Yield">Yield</div>
              </a>
            </li>
            <li>
              <a href="{{ url_for('main.sales')}}">
                <div class="icon">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <div class="name" data-text="Sales">Sales</div>
              </a>
            </li>
            <li>
              <a href="{{ url_for('main.expenses')}}">
                <div class="icon">
                  <i class="fa fa-money-bill-trend-up" aria-hidden="true"></i>
                </div>
                <div class="name" data-text="Expenses">Expenses</div>
              </a>
            </li>
            <li>
              <a href="{{ url_for('main.staff')}}">
                <div class="icon">
                  <i class="fa fa-people-group" aria-hidden="true"></i>
                </div>
                <div class="name" data-text="Staff">Staff</div>
              </a>
            </li>
          </ul>
        </nav>
        {% endblock %}
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
