{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mkamba - {% block title %} {% endblock %}</title>

    {% block styles %}

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layout.css') }}"
    />

    {% endblock %}
  </head>
  <body>
    {% block header %}

    <header class="settings-side-form__header--details">
      <nav class="settings-side-form__navigation--details">
        <!-- a header with the users profile pic or initials and a notifications bell and pie chart for graphs -->
        <div class="settings-side-form__items--details">
          <div class="logo-container">
            <a class="logo-container" href="{{ url_for('main.index')}}">
              <img src="{{ url_for('static', filename='images/Kwa_Mkamba_Bakery_Sample_Logo.png')}}" alt="">
            <div class="logo-name">Kwa Mkamba Bakery</div>
            </a>
          </div>
          <div class="notifications">
            <a href="#"><img src="{{ url_for('static', filename='icons/bell.png')}}" alt="bell" width="32" height="32"></a>
          </div>
          <div class="growth">
            <a href="#"><img src="{{ url_for('static', filename='icons/growth.png')}}" alt="pie" width="32" height="32"></a>
          </div>
          <div class="my-account">
            <button class="dropbtn" id="dropbtn"
          onclick="document.getElementsByClassName('dropdown-content').style.display = 'block' "
          >
            <img class="profile" src="{{ url_for('static', filename='icons/user.png')}}" alt="Initials"/>
          </button>

          <div class="dropdown-content">
            {% if current_user.is_authenticated %}
              <a
                href="{{ url_for('main.user', username=current_user.username)}}"
                >Profile</a
              >
              <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
              <a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>

    <br /><br />

    {% endblock %} {% block content %}

    <main>
      <!-- display error or success messages  -->
      <section class="flashed-messages__section--pop-up">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        "error" %}
        <div class="flashed-messages__div--error">{{ message}}</div>
        {% else %}
        <div class="flashed-messages__div--success">{{ message}}</div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
      </section>

      <section class=""></section>
    </main>

    {% endblock%} {% block footer %}

    <br /><br />

    <footer>
      <nav>
        <div class="main-navigation-bar">
          <div class="main-navigation-bar--link">
            <a href="{{ url_for('main.index') }}"> 
              <img src="{{ url_for('static', filename='icons/home.png')}}" alt="">
              Home
            </a>
          </div>
          <div class="main-navigation-bar--link">
            <a href="{{ url_for('production.production_home')}}">
              <img src="{{ url_for('static', filename='icons/production.png')}}" alt="">
              Production
            </a>
          </div>
          <div class="main-navigation-bar--link">
            <a href="{{ url_for('sales.sales_page')}}">
              <img src="{{ url_for('static', filename='icons/sales.png')}}" alt=""">
              Sales
            </a>
          </div>
          <div class="main-navigation-bar--link">
            <a href="#">
              <img src="{{ url_for('static', filename='icons/people.png')}}" alt="">
              Staff
            </a>
          </div>
        </div>
      </nav>
    </footer>

    {% endblock %} {% block scripts %} 
    {{ moment.include_moment() }} 
    
    {% endblock%}
  </body>
</html>
