{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mkamba - {% block title %} {% endblock %}</title>

    {% block styles %} {% endblock %}
</head>
<body>

    {% block header %} 
    
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>

    {% endblock %}

    {% block content %} 
    
    {% for message in get_flashed_messages() %}
          {{ message }}
      {% endfor %}

    {% endblock%}

    {% block footer %} {% endblock %}
    
</body>
</html>