{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    {% block navbar %} 
    
    <div id="page" class="site">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.stocks') }}"><span>Stocks</span><i class="ri-shopping-cart-line"></i></a></li>
                    <li><a href="{{ url_for('main.products') }}"><span>Products</span><i class="ri-contrast-drop-2-line"></i></a></li>
                    <li class="active"><a href=" {{ url_for('main.index') }}"><span>Home</span><i class="ri-home-line"></i></a></li>
                    <li><a href="{{ url_for('main.point_of_sale') }}"><span>POS</span><i class="ri-store-2-line"></i></a></li>
                    <li><a href="{{ url_for('main.sales') }}"><span>Sales</span><i class="ri-hearts-line"></i></a></li>
                    
                </ul>
            </nav>
        </div>
    </div>

    {% endblock %}

    {% block content %}
    
    {% for messages in get_flashed_messages() %}
        <p>{{ messages }}</p>
    {% endfor %}

    {% endblock %}

    <script src="{{ url_for('static', filename='script.js')}}"></script>
    
</body>
</html>