{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{{ super() }}

<h1>Home Page</h1>

<ul>
    <li><a href="{{ url_for('production.new_product') }}">New Product</a></li>
    <li><a href="{{ url_for('production.new_productionrun') }}">New Production Run</a></li>
    <li><a href="{{ url_for('production.view_products') }}">View Products</a></li>
    <li><a href="{{ url_for('production.view_productionruns') }}">View Production Runs</a></li>
    <li><a href="{{ url_for('production.new_ingredient') }}">New Ingredient</a></li>
    <li><a href="{{ url_for('production.view_ingredients') }}">View Ingredients</a></li>
    <li><a href="{{ url_for('production.new_supplier') }}">New Supplier</a></li>
    <li><a href="{{ url_for('production.view_suppliers') }}">View Suppliers</a></li>
</ul>

{% endblock %}