{% extends "base_template.html" %}

{% block title %} Home {% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}

{{ super() }}

<h1>Home Page</h1>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>CODE</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.code }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}