{% extends "base.html" %}

{% block title %} {{ user.username}} {% endblock %}

{% block content %}
{{ super() }}

<h3>Username: {{ user.username }}</h3>
{% if user.name or user.phone_no %}
<p>
    <p>Name: {% if user.name %} {{ user.name }} {% endif %}</p>
    <p>Phone: {% if user.phone_no %} {{ user.phone_no }} {% endif %}</p>
</p>

{% endif %}
{% if current_user.is_administrator() %}
<p>Contant: <a href="mailto: {{ user.email }}"> {{ user.email }}</a></p>
{% endif %}

{% if user == current_user or current_user.is_administrator() %}
<a href="{{ url_for('main.edit_profile') }}">Edit Profile</a>
<p><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></p>
<p><a href="{{ url_for('auth.change_password') }}">Change Password</a></p>
{% endif %}
{% if current_user.is_administrator() %}
<a href="{{ url_for('main.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
{% endif %}


{% endblock %}

{% block footer %} {{ super() }} {% endblock %}

{% block scripts %} {{ super() }} {% endblock %}